<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <div class="index-container">
    <img src="/images/beer.png" alt="image-beer">
    <button>
      <p>Check the Beers </p>
    </button>
    <button>
      <p>Check a Random Beer</p>
    </button>
  </div>
</body>
</html>
