<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>
  <nav class="navBar">
      <p><a href="#"> Home </a></p>
      <p><a href="#"> Beers </a></p>
      <p><a href="#"> Random Beer </a></p>
  </nav>
  <footer class="footer">
    <p>Develop by Ironhack ;)</p>
  </footer>
  {{{body}}}
</body>
</html>